node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
SCHEMA_OVERHAUL_PLAN.md

# Test files
/src/routes/test
fix_timetables_constraint.sql
add_metadata_column.sql
src/routes/supabase-test/+page.svelte
src/routes/prototypes/


# for research papers
RAD_METHODOLOGY_GUIDE.md
GANTT_CHART_DETAILS.md
FULL_METHODOLOGY_GUIDE.md
